* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





header {
    background-image: url(https://scontent.fcor18-1.fna.fbcdn.net/v/t39.30808-6/489407364_1483343972794775_2608150213212141397_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=cc71e4&_nc_eui2=AeF0WogKUKAj9n8MpICSUPjwuQMRTy0fJ7S5AxFPLR8ntOBspNCJnkI-fJaqOewAnSI&_nc_ohc=DIEeVz9HmTEQ7kNvwGGRFGV&_nc_oc=AdkzWmx2gAOk34MOUI0UC7pyLcpC_2nkHgUuUvB1j8nXgZ-9FHBdkpqKpz8kHfpHDhc&_nc_zt=23&_nc_ht=scontent.fcor18-1.fna&_nc_gid=f0bUaqA2x9xHPQPpI8YblQ&oh=00_AfPf7D07mlt5SNnxOAp8I4gODayXrqaS3l9SrCPMkS9NaA&oe=685BAC14);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
footer {
    height: 8rem;
}